:root {
  --background-color: #353531;
  --accent-1-color: #ec4e20;
  --accent-2-color: #016fb9;
}
body {
  background-color: var(--background-color);
  color: white;
  justify-content: center;
}

#head {
  font-size: 1.5em;
  margin: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid var(--accent-1-color);
  border-radius: 1em;
  padding: 1rem;
}
#head-text {
  flex: 1 1 auto;
  margin: 0;
}

#heading {
  background-color: var(--accent-2-color);
  width: fit-content;
  padding: 0.2em;
  border-radius: 0.2em;
  margin: 0;
}

#definition {
  overflow-x: auto;
  white-space: pre-wrap;
  line-height: 1.5em;
  margin: 0;
  margin-top: 1em;
}

#head-image {
  max-width: 50%;
  max-height: auto;
  flex: 1 1 auto;
  object-fit: cover;
}

#content {
  margin: 2rem;
  display: grid;
  font-size: 1.5em;
  grid-template-columns: 1fr 0.2em 1fr;
  border: 0.2rem solid var(--accent-1-color);
  border-radius: 1em;
}

.ver-divider {
  background-color: var(--accent-1-color);
  margin: 0;
  padding: 0;
}

#content > h2 {
  background-color: var(--accent-2-color);
  width: fit-content;
  align-self: center;
  justify-self: center;
  margin: 0;
  padding: 0.2em;
  margin: 1rem;
  border-radius: 0.2em;
}

#pro-site,
#contra-site {
  padding: 1rem;
  border-top: 0.2em solid var(--accent-1-color);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#pro-site > div,
#contra-site > div {
  border: 0.2rem solid var(--accent-1-color);
  border-radius: 1rem;
  margin: 0;
  padding: 1rem;
  flex: 1 0 0%;
  cursor: pointer;
}

#pro-site > div > p,
#contra-site > div > p {
  display: none;
}

#contra-site > div:hover,
#pro-site > div:hover {
  background-color: var(--accent-2-color);
}

#pro-site > p,
#contra-site > p {
  flex: 1 0 0%;
  margin: 0;
  border: 0.2rem solid var(--accent-1-color);
  border-radius: 1rem;
  padding: 1rem;
}

@media (max-width: 1000px) {
  #head-image {
    display: none;
  }
  #head,
  #content {
    margin: 0.5rem;
  }
}
